.env
*.pem
.venv
.idea
portfolio/db.sqlite3
db.sqlite3
portfolio/.chromadb_persist
.chromadb_persist
.ipynb_checkpoints
portfolio/eq_dashboard/resources/eq_data.csv
portfolio/eq_dashboard/resources/recent_data.csv
eq_data.csv
recent_data.csv
