{% extends 'base.html' %}

{% block title %}Home - berkaybgk{% endblock %}

{% block content %}
<style>
    .btn-custom {
            background-color: #128b96; /* Custom orange */
            border-color: #000000; /* Custom orange */
            color: white; /* Text color */
    }

    .btn-custom:hover {
        background-color: #c2db70; /* Custom orange */
        border-color: #000000; /* Custom orange */
        color: #000000; /* Text color */
    }

    .section-spacing {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .profile-section {
        margin-bottom: 100px; /* Adjust as needed */
    }
</style>

<div class="container">

    <!-- Profile Section -->
    <section class="profile-section text-center">
        <h1>Welcome to My Portfolio Website</h1>
        <p class="lead">I am a junior computer engineering student from Istanbul, Turkey.</p>
        <p class="lead">I am currently studying at Boğaziçi University, and my current interests lie in data science, AI and software engineering.</p>
        <p class="lead">I am passionate about applying my skills in areas which blend these.</p>
    </section>

    <!-- DS Section -->
    <section id="projects" class="my-5 text-center">
        <h2 class="mb-4">Data Science Projects</h2>
        <p>Trial projects on open data sets. The results are shared in a nice way.</p>
        <a class="btn btn-custom btn-lg" href="{% url 'ds_projects' %}">Check the Projects</a>
    </section>

    <!-- Chatbot Section -->
    <section id="chatbot" class="my-5 text-center">
        <h2 class="mb-4">Fusion Chatbot App</h2>
        <p>A smart assistant which allows you to talk to PDFs. No more scrolling through pages!</p>
        <a class="btn btn-custom btn-lg" href="{% url 'fusion' %}">Go to the App</a>
    </section>

</div>
{% endblock %}
